* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
#clock {
  font-size: 5rem;
  font-weight: 1000;
  padding: 30px 40px;
  border-radius: 15px;
  border: 5px solid #ff4757;
  color: black;
}
